.rdx{
   margin: auto;
   background-color: blueviolet;
   
}
.first{
    margin-left: 30%;
    padding-top: 5%;
}
.second{
    margin-left: 19%;
    margin-top: 5%;
}
/* @media screen and (min-width: 300px) {
 
  }
  
  @media screen and (min-width: 750px) {
  
} */
